* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 10px;
}

hr {
    border-style: groove;
}

.h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 30px;
}

.h4 {
    display: flex;
    justify-content: center;
    color: gray;
}

.para {
    display: flex;
    justify-content: center;
    color: gray;
    margin-top: 15px;
}

.container {
    height: 1000px;
    width: 600px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(199, 199, 199);
    margin-left: 462px;
    margin-top: 45px;
}

.container .top {
    margin-left: 60px;
    margin-top: 60px;
    font-size: 17px;
}

.container .personal {
    margin-left: 60px;
    margin-top: 25px;
}

.personal p {
    font-size: 20px;
    font-weight: 500;
}

.personal input {
    height: 40px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    color: black;
    font-size: 15px;
}

.container .security {
    margin-left: 60px;
    margin-top: 25px;
}


.security .account {
    font-size: 20px;
    font-weight: 500;
}

.security input {
    height: 40px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 7px;
    padding: 10px;
    margin-top: 20px;
    color: black;
    font-size: 15px;
}

.security .sec-para{
    margin-top: 10px;
    margin-left: 15px;
}

.already{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: darkgreen;
    margin-left: 60px;
}

.collect p{
    margin-left: 60px;
    margin-top: 25px;
}


.collect .check{
    margin-left: 60px;
    margin-top: 20px;
}